.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}







 





.images_1_of_2 {
    width: 200px;
    height: 183px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

    .images_1_of_2 img {
        width: auto;
        height: auto;
        transition-duration: 0.3s;
    }

        .images_1_of_2 img:hover {
            transform: scale(1.2);
        }












@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .header_bottom_left {
        margin-left: 4%;
        float: left;
        width: 40%;
        padding-top: 4 px;
    }

    .images_1_of_2 {
        width: 46.2%;
        padding: 4.5%;
    }


    .header_bottom_right_images {
        float: left;
        width: 49%;
        margin-left: -1%;
        padding-top: 15 px;
    }


    .slider {
        width: 785px;
        height: 300px;
        margin: 50px auto;
        border: 0px solid;
        overflow: hidden;
    }

    .slides {
        width: 400%;
        height: 100%;
        -webkit-animation: slide 16s infinite;
        -moz-animation: slide 16s infinite;
        animation: slide 16s infinite;
        /*-webkit-animation-iteration-count: 2,2,2,2; /* Chrome, Safari, Opera */
        /*animation-iteration-count: 2,2,2,2;*/
    }

    .slider-1, .slider-2, .slider-3, .slider-4 {
        width: 25%;
        height: 100%;
        float: left;
    }

    .slider-1 {
        background: #222;
    }

    .slider-2 {
        background: #444;
    }

    .slider-3 {
        background: #666;
    }

    .slider-4 {
        background: #888;
    }

    @-webkit-keyframes slide {
        0%,100% {
            margin-left: 0%;
        }

        12% {
            margin-left: 0%;
        }

        24% {
            margin-left: -100%;
        }

        36% {
            margin-left: -100%;
        }

        48% {
            margin-left: -200%;
        }

        60% {
            margin-left: -200%;
        }

        72% {
            margin-left: -300%;
        }

        84% {
            margin-left: -300%;
        }
    }

    @-moz-keyframes slide {
        0%,100% {
            margin-left: 0%;
        }

        12% {
            margin-left: 0%;
        }

        24% {
            margin-left: -100%;
        }

        36% {
            margin-left: -100%;
        }

        48% {
            margin-left: -200%;
        }

        60% {
            margin-left: -200%;
        }

        72% {
            margin-left: -300%;
        }

        84% {
            margin-left: -300%;
        }
    }

    @keyframes slide {
        0%,100% {
            margin-left: 0%;
        }

        12% {
            margin-left: 0%;
        }

        24% {
            margin-left: -100%;
        }

        36% {
            margin-left: -100%;
        }

        48% {
            margin-left: -200%;
        }

        60% {
            margin-left: -200%;
        }

        72% {
            margin-left: -300%;
        }

        84% {
            margin-left: -300%;
        }




       
        }